<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="com.gunzip.member.MemberDTO" alias="member" />
		<typeAlias type="com.gunzip.admin.AdminDTO" alias="admin" />
		<typeAlias type="com.gunzip.mandooweb.index3.index3DayDTO" alias="daydata" />
		<typeAlias type="com.gunzip.mandooweb.index3.index3WeatherDTO" alias="weatherdata" />
		<typeAlias type="com.gunzip.mandooweb.index3.index3YearDTO" alias="yeardata" />
		<typeAlias type="com.gunzip.mandooweb.index3.index3DataDTO" alias="cntdata" />
		<typeAlias type="com.gunzip.carlist.CarlistDTO" alias="carlist" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/member.xml" />
		<mapper resource="mapper/admin.xml" />
		<mapper resource="mapper/accident.xml" />
		<mapper resource="mapper/carlist.xml" />
	</mappers>
</configuration>